{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}
 {% block hero %}
   <section class="hero-section">
      <div class="container-fluid hero-content">
        <div class="row">
              <div class="col-md-6">
                  <h1>{% block hero_title %}Welcome to GT Furniture{% endblock %}</h1>
                  <p>
                      {% block hero_text %}Explore our unique collections for a comfortable home.{% endblock %}
                  </p>
                  <div class="buttons button-spacing">
                    <a href="{% url 'product_list' %}" class="btn btn-primary ml-2">Shop Now</a>
                    <a href="{% url 'category_list' %}" class="btn btn-secondary ml-4">Explore</a>
                </div>
                
              </div>
              <div class="col-md-6">
                  <div class="slider-container">
                      <div class="slider">
                          <img src="https://res.cloudinary.com/ddubcf1rj/image/upload/v1737656440/slide1_pxe4dn.png" alt="Sofa 1" class="slide">
                          <img src="https://res.cloudinary.com/ddubcf1rj/image/upload/v1737656439/sofa_zfg46w.png" alt="Sofa 2" class="slide">
                          <img src="https://res.cloudinary.com/ddubcf1rj/image/upload/v1737656432/couch_affxse.png" alt="Sofa 3" class="slide">
                      </div>
                      <button class="slider-btn prev-btn"><i class="fas fa-chevron-left"></i></button>
                      <button class="slider-btn next-btn"><i class="fas fa-chevron-right"></i></button>
                   </div>
               </div>
          </div>
      </div>
  </section>
{% endblock %}

